@import url("https://fonts.googleapis.com/css?family=Hanken+Grotesk");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 18px;
}

h1 {
  font-weight: 800;
  font-size: 1.25em;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  justify-items: center;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

/* Widget container */
.widget {
  grid-area: content;
  display: flex;
  flex-direction: row;
  max-width: 736px;
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  background-color: hsl(0, 0%, 100%);
  min-height: 510px;
}

/* Left-hand side results box */
.result {
  grid-area: content;
  display: grid;
  grid-template-rows: 50px 2fr 1fr;
  grid-template-columns: 1fr 250px 1fr;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: inherit;
  width: 358px;
  height: 510px;
  grid-template-areas:
  ". heading ."
  ". score ."
  ". comment .";
}

.circle-container {
  grid-area: score;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.score {
  font-size: 4.5em;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}

.result h1 {
  grid-area: heading;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  background-image: none;
  color: hsl(0, 0%, 100%, 60%);
}

.comment {
  grid-area: comment;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  text-align: center;
}

.result h2 {color: hsl(0, 0%, 100%); font-size: 1.5em; font-weight: 800;}
.result p {color: hsl(0, 0%, 100%, 60%);}

/* Right-hand side summary information */
.summary {
  display: grid;
  grid-template-rows: 75px repeat(5, 1fr);
  width: 378px;
  height: 510px;
  border-radius: inherit;
  padding-left: 5%;
  grid-template-areas:
    "heading"
    "reaction"
    "memory"
    "verbal"
    "visual"
    "continue";
}

.summary h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(224, 30%, 27%);
  grid-area: heading;
}

/* Summary statistics */
.metric {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr repeat(2, 4fr) 75px;
  grid-template-areas: "icon label score total";
  border-radius: 10px;
  height: 60px;
  max-width: 90%;
}

.metric img {grid-area: icon; padding-left: 20px;}
.m-label {grid-area: label; padding-left: 10px; font-weight: 700;}
.m-score {grid-area: score; text-align: right; color: hsl(224, 30%, 27%); font-weight: 700;}
.m-total {grid-area: total; text-align: right; padding-right: 20px; color: hsla(224, 30%, 27%, 50%);}

.reaction {grid-area: reaction; background-color: hsla(0, 100%, 67%, 10%); color: hsl(0, 100%, 67%);}
.memory {grid-area: memory; background-color:hsla(39, 100%, 56%, 10%); color: hsl(39, 100%, 56%);}
.verbal {grid-area: verbal; background-color: hsla(166, 100%, 37%, 10%); color: hsl(166, 100%, 37%);}
.visual {grid-area: visual; background-color: hsla(234, 85%, 45%, 10%); color: hsl(234, 85%, 45%);}

.continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: continue;
  background-color: hsl(224, 30%, 27%);
  border-radius: 50px;
  height: 60px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  width: 90%;
}

.continue:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 736px) {
    body {font-size: 14px;}
    .container {grid-template-rows: 0px 1fr 20px;}
    .widget {
        flex-direction: column; 
        max-width: 100%;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.0);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .result {width: 100%;height: 50%;}
    .summary {width: 100%;height: 50%;}
    .metric {height:50px;}
    .continue{height:50px;}
}

/* Attribution */
.attribution {
  display: flex;
  font-size: 11px;
  text-align: center;
  grid-area: footer;
  align-items: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
